<% include head3.ejs %>

<h5><strong>&nbsp;Introduction to Bootstrap</strong></h5>
<p>

    Bootstrap is a HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
    <br><br>
    The containers can be used to create a responsive fixed width or full width container.
    <br><br>
    Example :<br>
    <code> &lt;div class="container"&gt;&lt;/div&gt;</code><br>
    Creates a fixed width container.
    <br><br>
    <code> &lt;div class="container-fluid"&gt;&lt;/div&gt;</code><br>
    Creates a full width container.
    <br><br>



<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>fixed width container</code>using div.

</p>

<% include base3.ejs %>
