<% include head3.ejs %>

<h5><strong>&nbsp;Grid System</strong></h5>
<p>

    Bootstrap has a responsive grid system.<br>
    The columns will re-arrange automatically depending on the screen size.
    <br><br>
    The Bootstrap has four classes.<br>
    <code>xs, sm, md, lg </code><br>
    A row can have 12 columns.<br><br>

    Example of a simple grid:<br>
    <code> &lt;div class="row"&gt;</code><br>
    <code> &nbsp;&nbsp;&lt;div class="col-md-4"&gt;&lt;/div&gt;</code><br>
    <code> &nbsp;&nbsp;&lt;div class="col-md-4"&gt;&lt;/div&gt;</code><br>
    <code> &nbsp;&nbsp;&lt;div class="col-md-4"&gt;&lt;/div&gt;</code><br>
    <code> &lt;/div&gt;</code><br>
    Creates a row with 3 equal size columns.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Devide <code>d1 and d2</code>divs to <code>3 to 1 </code>in a row using <code>xs</code> class.

</p>

<% include base3.ejs %>
