<% include head3.ejs %>

<h5><strong>&nbsp;Text Styling</strong></h5>
<p>

    Bootstrap has built-in text styling.
    <br><br>
    Examples:<br>
    <code> &lt;mark&gt;text&lt;/mark&gt;</code> - Highlight text<br><br>

    <code> &lt;blockquote&gt;</code><br>
    <code>&lt;p&gt;This is a quote&lt;/p&gt;</code> <br>
    <code> &lt;footer&gt;By someone&lt;/footer&gt;</code> <br>
    <code> &lt;/blockquote&gt;</code> - Quoting<br><br>

    <code> &lt;code&gt;text&lt;/code&gt;</code> - Indicate codes
    <br><br>

    <code> &lt;pre&gt;text&lt;/pre&gt;</code> - Preformat text
    <br><br>

    <code> &lt;kbd&gt;Ctrl+Alt+Del&lt;/kbd&gt;</code> - Indicate keyboard input
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> <code>Highlight</code> the word <code>paragraph</code>.

</p>

<% include base3.ejs %>
