<% include head3.ejs %>

<h5><strong>&nbsp;Text Colors</strong></h5>
<p>

    Bootstrap has 6 text color classes.
    <br>
    They are,<br>
    <code>text-muted</code><br>
    <code>text-primary</code><br>
    <code>text-success</code><br>
    <code>text-info</code><br>
    <code>text-warning</code><br>
    <code>text-danger</code>
    <br><br>

    Examples:<br>
    <code>&lt;p class="text-danger"&gt;This is a paragraph.&lt;/p&gt;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change the paragraph to a indicate<code>info</code>.

</p>

<% include base3.ejs %>
