<% include head3.ejs %>

<h5><strong>&nbsp;Background Colors</strong></h5>
<p>

    Bootstrap has 6 background color classes. This is same as the text color with <code>bg</code> class except <code>text</code>.
    <br>
    They are,<br>
    <code>bg-muted</code><br>
    <code>bg-primary</code><br>
    <code>bg-success</code><br>
    <code>bg-info</code><br>
    <code>bg-warning</code><br>
    <code>bg-danger</code>
    <br><br>

    Examples:<br>
    <code>&lt;p class="bg-danger"&gt;This is a paragraph.&lt;/p&gt;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change the background color of the paragraph to indicate <code>success</code>.

</p>

<% include base3.ejs %>
