<% include head3.ejs %>

<h5><strong>&nbsp;Tables</strong></h5>
<p>

    Bootstrap can create responsive tables unlike plain css table.
    <br>

    Example:<br>
    <code>&lt;table class="table"&gt;</code><br>

    <code>&nbsp;&nbsp;&lt;thead&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Name&lt;/th&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Age&lt;/th&gt;</code><br>
    <code>&nbsp;&nbsp;&lt;/thead&gt;</code><br>

    <code>&nbsp;&nbsp;&lt;tbody&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Sam&lt;/td&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;25&lt;/td&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Jane&lt;/td&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;32&lt;/td&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;</code><br>
    <code>&nbsp;&nbsp;&lt;/tbody&gt;</code><br>
    <code>&lt;/table&gt;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a table with 3 rows.

</p>

<% include base3.ejs %>
