<% include head3.ejs %>

<h5><strong>&nbsp;Navigation Bar</strong></h5>
<p>

    The navbar is a simple wrapper for positioning branding, navigation, and other elements into a concise navigation header.
    <br>

    Examples:<br>
    <code>&lt;div class="navbar navbar-default"&gt;</code><br>
    <code>&lt;div class="navbar-header"&gt;</code><br>
    <code>&nbsp;&nbsp;&lt;a href="#" class="navbar-brand"&gt;The Logo&lt;/a&gt;</code><br>
    <code>&lt;/div&gt;</code><br>

    <code>&lt;div&gt;</code><br>
    <code>&nbsp;&nbsp;&lt;ul class="nav navbar-nav"&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="active"&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;</code><br>
    <code>&nbsp;&nbsp;&lt;/ul&gt;</code><br>
    <code>&lt;/div&gt;</code><br>
    <code>&lt;/div&gt;</code>
    <br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a navbar with 3 items.

</p>

<% include base3.ejs %>
