<% include head3.ejs %>

<h5><strong>&nbsp;Dropdown Menu</strong></h5>
<p>

    Dropdown menu is an element that can contain another elements.
    <br>

    Example:<br>

    <code>&lt;div class="dropdown"&gt;</code><br>
    <code>&lt;button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"&gt;Dropdown&lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;</code><br>
    <code>&lt;ul class="dropdown-menu"&gt;</code><br><br>
    <code>&lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;</code><br>
    <code>&lt;li&gt;&lt;a href="#"&gt;Car&lt;/a&gt;&lt;/li&gt;</code><br>
    <code>&lt;li&gt;&lt;a href="#"&gt;Office&lt;/a&gt;&lt;/li&gt;</code><br>
    <code>&lt;/ul&gt;</code><br>
    <code>&lt;/div&gt;</code><br>
    <br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a dropdown menu with 4 items.

</p>

<% include base3.ejs %>
