<% include head3.ejs %>

<h5><strong>&nbsp;Wells</strong></h5>
<p>

    Well components apply the simple inset effect to an element so that it appears different from the rest of the content.
    <br><br>
    There are 3 types of well sizes. <br>
    <code>small, normal and large</code>.

    Examples:<br>
    <code>&lt;div  class="well well-sm"&gt;Small Well&lt;/div&gt;</code><br><br>
    <code>&lt;div  class="well"&gt;Normal Well&lt;/div&gt;</code><br><br>
    <code>&lt;div  class="well well-lg"&gt;Large Well&lt;/div&gt;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a normal size well.

</p>

<% include base3.ejs %>
