<% include head3.ejs %>

<h5><strong>&nbsp;Alerts</strong></h5>
<p>

    Bootstrap alert class can create predefined alert messages.
    <br><br>
    There are 3 types of alerts. <br>
    <code>alert-success</code><br>
    <code>alert-info</code><br>
    <code>alert-warning</code><br>
    <code>alert-danger</code><br><br>

    Examples:<br>
    <code>&lt;div class="alert alert-warning"&gt;Warning Alert&lt;/div&gt;</code><br><br>
    <code>&lt;div class="alert alert-info"&gt;Info Alert&lt;/div&gt;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>success</code> alert.

</p>

<% include base3.ejs %>
