<!DOCTYPE>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/editors.css' />

  <title>Challenges</title>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/ch">Challenges</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container">

    <div class="page-header">
      <br>
      <h1 class="pull-left">Challenges</h1>
      <div class="clearfix"></div>
    </div>
  </section>

  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href='/ch/1'>Introduction to HTML</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href='/ch/2'>Working with headers</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href='/ch/3'>Working with paragraphs</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>4</td>
        <td><a href='/ch/4'>Introduction to unordered list</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>5</td>
        <td><a href='/ch/5'>Introduction to ordered list</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>6</td>
        <td><a href='/ch/6'>Adding images</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>7</td>
        <td><a href='/ch/7'>Creating a table</a></td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>8</td>
        <td><a href='/ch/8'>Introduction to CSS</a></td>
        <td>CSS</td></td>
      </tr>
      <tr>
        <td>9</td>
        <td><a href='/ch/9'>Changing fonts</a></td>
        <td>CSS</td>
      </tr>
    </tbody>
  </table>
  <!--<table class="table">
    <thead>

    </thead>
    <tbody>

    </tbody>
  </table>-->

</div>
</body>
</html>



