<!DOCTYPE>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/editors.css' />

  <!-- jQuery -->
  <script src="/javascripts/jquery-1.12.3.min.js"></script>

  <title>Challenges</title>
  <script src="/javascripts/challenges.js"></script>
  <script>
    $(document).ready(function(){
      var tb = '';
      $.each(ch, function(i, field){
        d= ch[i]['no'];
        tb += '<tr>';
        tb += '<td>' + ch[i]['no']+'</td>';
        tb += '<td><a href="ch/'+ ch[i]['no']+'">' + ch[i]['title']+'</a></td>';
        tb += '<td>' + ch[i]['type']+'</td>';
        tb += '<td><center><span class="glyphicon glyphicon-download-alt"></span></center></td>';
        tb += '</tr>';
      });
      $('#tb').html(tb);
      console.log(tb);
    });
  </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/ch">Challenges</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container">

    <div class="page-header">
      <br>
      <h1 class="pull-left">Challenges</h1>
      <div class="clearfix"></div>
    </div>
  </section>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table">
      <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Language</th>
        <th><center>Download</center></th>
      </tr>
      </thead>
      <tbody id="tb">

      </tbody>
    </table>
  </div>


</div>
</body>
</html>

