<% include head4.ejs %>

<h5><strong>&nbsp;Element Selector </strong></h5>
<p>

    jQuery selectors allow you to select and manipulate HTML elements.<br><br>
    The jQuery element selector selects elements based on the element name.
    <br><br>

    Example : <br>
    Select all paragraphs - <br>
    <code>$("p")</code><br><br>

    Select all h2 elements and change text - <br>
    <code>$("h2").html("Changed")</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change all header 3 text to<code>Hello</code>.

</p>

<% include base4.ejs %>
