<% include head4.ejs %>

<h5><strong>&nbsp;Id Selector </strong></h5>
<p>

    The jQuery #id selector uses the id attribute of an HTML tag to find the specific element.<br><br>
    Id should be specified with a hash character.
    <br><br>

    Example : <br>
    Select all elements with id 'demo' - <br>
    <code>$("#demo")</code><br><br>

    Select and hide element with id 'demo' - <br>
    <code>$("#demo").hide()</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide the element with id <code>d2</code>.

</p>

<% include base4.ejs %>
