<% include head4.ejs %>

<h5><strong>&nbsp;Class Selector </strong></h5>
<p>

    The jQuery class selector finds elements with a specific class.<br><br>
    To find elements with a specific class, write a period character, followed by the name of the class.
    <br><br>

    Example : <br>
    Select all elements with class 'demo' - <br>
    <code>$(".demo")</code><br><br>

    Select and hide element with class 'demo' - <br>
    <code>$(".demo").hide()</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide the element with class <code>d2</code>.

</p>

<% include base4.ejs %>
