<% include head4.ejs %>

<h5><strong>&nbsp;Other Selectors </strong></h5>
<p>

    Examples : <br><br>
    Select all elements<br>
    <code>$("*")</code><br><br>

    Selects the current HTML element - <br>
    <code>$(this)</code>
    <br><br>

    Selects all paragraph elements with class "demo" - <br>
    <code>$("p.demo")</code>
    <br><br>

    Selects the first paragraph element - <br>
    <code>$("p:first")</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide the <code>first</code> h3 element.

</p>

<% include base4.ejs %>
