<% include head4.ejs %>

<h5><strong>&nbsp;Other Selectors </strong></h5>
<p>

    Examples : <br><br>
    Selects all elements with an href attribute - <br>
    <code>$("[href]")</code><br><br>

    Selects all button elements - <br>
    <code>$(":button")</code>
    <br><br>

    Selects all even paragraph elements - <br>
    <code>$("p:even")</code>
    <br><br>

    Selects all odd paragraph elements - <br>
    <code>$("p:odd")</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide all <code>even</code> h3 elements.

</p>

<% include base4.ejs %>
