<% include head4.ejs %>

<h5><strong>&nbsp;jQuery Event methods </strong></h5>
<p>

    All the different user actions that a web page can respond to are called events.<br><br>

    The <code>click()</code> method attaches an event handler function to an element. The function is executed when the user clicks on the element.
    <br><br>
    Examples : <br><br>
    <code>$("p").click(function(){</code><br>
    <code>&nbsp;&nbsp;// handle the event</code><br>
    <code>});</code><br>
    When the paragraph get clicked, this function will be executed.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide h3 on <code>click</code>.

</p>

<% include base4.ejs %>
