<% include head4.ejs %>

<h5><strong>&nbsp;jQuery Event methods </strong></h5>
<p>

    The <code>mouseleave()</code> method attaches an event handler function to an element.
    <br><br>
    The function is executed when the mouse pointer leaves the element.
    <br><br>

    Examples : <br><br>
    <code>$("p").mouseleave(function(){</code><br>
    <code>&nbsp;&nbsp;// handle the event</code><br>
    <code>});</code><br>
    When the mouse leaves the paragraph area, this function will be executed.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide h3 on <code>mouse leave</code>.

</p>

<% include base4.ejs %>
