<% include head4.ejs %>

<h5><strong>&nbsp;jQuery Event methods </strong></h5>
<p>

    The <code>on()</code> method attaches one or more event handlers for the selected elements.
    <br><br>

    Examples : <br><br>
    Attaching  a click and hover events to a paragraph element using <code>on</code> method - <br>
    <code>$("p").on({</code><br>
    <code>&nbsp;&nbsp;click: function(){</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;// handle the event</code><br>
    <code>&nbsp;&nbsp;},</code><br>
    <code>&nbsp;&nbsp;hover: function(){</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;// handle the event</code><br>
    <code>&nbsp;&nbsp;}</code><br>
    <code>});</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Hide h3 on <code>click</code> using <code>on</code> method.

</p>

<% include base4.ejs %>
