<% include head4.ejs %>

<h5><strong>&nbsp;Fading Methods </strong></h5>
<p>

    Fading methods can fade an element in and out of visibility.<br>
    jQuery has the 4 fade methods.<br>
    <code>fadeIn()</code> - Fade in a hidden element<br>
    <code>fadeOut()</code> - Fade out a visible element<br>
    <code>fadeToggle()</code> - Fade out or in <br>
    <code>fadeTo()</code> - Specifies fading to a given opacity
    <br><br>

    Examples : <br>

    <code>$("p").fadeIn();</code><br>
    <code>$("p").fadeOut("slow");</code><br>
    <code>$("p").fadeToggle(4000);</code><br>
    <code>$("p").fadeTo("fast", 0.8);</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Fade out h3 within <code>3000</code> milliseconds.

</p>

<% include base4.ejs %>
