<% include head4.ejs %>

<h5><strong>&nbsp;Content Methods </strong></h5>
<p>

    Content Methods can manipulate the DOM.<br><br>

    <code>text()</code> - Sets or returns the text content of selected elements<br>
    <code>html()</code> - Sets or returns the content of selected elements <br>
    <code>val()</code> - Sets or returns the value of form fields
    <br><br>

    Examples : <br>

    <code>$("p").text("Hello")</code> - Set text<br><br>
    <code>$("p").html()</code> - Return content<br><br>
    <code>$("p").val()</code> - Return value
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find the value of <code>p1</code> and set to <code>p2</code>.

</p>

<% include base4.ejs %>
