<% include head4.ejs %>

<h5><strong>&nbsp;Attribute Method </strong></h5>
<p>

    The <code>attr()</code> method is used to get attribute values.<br><br>

    Examples : <br>

    <code>$("#a1").attr("href")</code><br>
    - Return the href  <br><br>
    <code>$("p").attr("class")</code><br>
    -Returns the paragraph class
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find the class of the header and set it as header value.

</p>

<% include base4.ejs %>
