<% include head4.ejs %>

<h5><strong>&nbsp;CSS Method </strong></h5>
<p>

    The <code>css()</code> method sets or returns one or more style properties for the selected elements.<br><br>

    Examples : <br>

    <code>$("p").css("background-color")</code><br>
    - Return the background-color of paragraph  <br><br>

    <code>$("p").css("background-color", "red")</code><br>
    -Set the background-color of paragraph
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find the color of the header and set it as the header value.

</p>

<% include base4.ejs %>
