<% include head4.ejs %>

<h5><strong>&nbsp;Traversing - Siblings</strong></h5>
<p>

    jQuery you can traverse sideways in the DOM tree to find siblings of an element.<br><br>

    Traversing methods,<br>
    <code>siblings()</code> - Returns all siblings <br>
    <code>next()</code> - Returns the next sibling <br>
    <code>nextAll()</code> - Returns all next siblings <br>
    <code>nextUntil()</code> - Returns all sibling elements between some elements <br>
    <code>prev()</code> - Return previous sibling <br><br>

    Examples : <br>

    <code>$("p").nextAll();</code><br>
    <code>$("h2").siblings("p");</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find the next sibling of <code>p</code> and set it as the header 2 value.

</p>

<% include base4.ejs %>
