<% include head4.ejs %>

<h5><strong>&nbsp;Remove Method</strong></h5>
<p>

    Remove method removes existing HTML elements.<br><br>

    Removing methods,<br>
    <code>emove()</code> - Removes the selected element <br>
    <code>empty()</code> - Removes the child elements from the selected element
    <br><br>

    Examples : <br>

    <code>$("div").remove();</code><br>
    <code>$("div").empty();</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Remove child elements of <code>div</code>.

</p>

<% include base4.ejs %>
