<% include head1.ejs %>

<h5><strong>&nbsp;Introduction to HTML</strong></h5>
<p>
    HTML is the standard markup language used to create web pages.
    <br>
    We can start the HTML tutorial with headers.<br><br>
    Add Header1 by adding <code>&lt;h1&gt; </code> tag.
    <br><br>
    Close the tag by <code>&lt;/h1&gt;</code> closing tag.
    <br><br>
    The header text goes inside the two tags.
    <code> &lt;h1&gt;....&lt;/h1&gt;</code>

    <br><br>
    <h5><strong>&nbsp;Task</strong></h5>

    <a id="menu-toggle"><i class="glyphicon glyphicon-remove"></i></a> Set the Header text to <code>Hello</code>.
</p>

<% include base1.ejs %>
