<% include head1.ejs %>

<h5><strong>&nbsp;Working with text</strong></h5>
<p>

    In some cases, we might need to align text left, right or center.<code>text-align</code> attribute can align text as we want.<br>
    Example :<br>
    <code>h1 {text-align : right;}</code>
    <br><br>

    Text indentation can be done using <code>text-indent</code> attribute.<br>
    Example : <br>
    <code>p {text-indent : 5px;}</code>
    <br><br>



<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Align header 3 to the <code>center</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Make a <code>20px</code> indentation in the paragraph.
</p>

<% include base1.ejs %>
