<% include head1.ejs %>

<h5><strong>&nbsp;Styling text</strong></h5>
<p>


    Using <code>text-shadow</code> attribute, we can create a shadow for a text.
    <br>
    First parameter represent the shadow width, second parameter represent the shadow height and last parameter represent the shadow color.<br>
    Example : <br>
    <code>h3 {text-shadow: 1px 3px red;}</code>
    <br><br>

    <code>text-decoration</code> attribute can be used to underline, overline or create a line through.<br>
    Example : <br>
    <code>h3 {text-decoration: overline;}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> <code>underline</code> the header.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>blue</code> shadow with <code>2px</code> width and height.
</p>

<% include base1.ejs %>
