<% include head1.ejs %>

<h5><strong>&nbsp;Changing background color</strong></h5>
<p>


    We can change background of a page or a element using <code>background-color</code> attribute.
    <br><br>
    Example : <br>
    <code>h3 {background-color: green;}</code>
    <br>
    <code>p {background-color: red;}</code>
    <br><br>
    Also page background color can be changed using <code>body</code> tag.
    <br>
    <code>body {background-color: gray;}</code>
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change header background to <code>lightblue</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Change paragraph background to <code>yellow</code>.<br><br>
<a id="t3"><i class="glyphicon glyphicon-remove"></i></a> Change page background to <code>lightgray</code>.
</p>

<% include base1.ejs %>
