<% include head1.ejs %>

<h5><strong>&nbsp;Adding a background image</strong></h5>
<p>


    A background image can be added using the  <code>background-image</code> attribute. The image url need to be specified.
    <br><br>

    Example : <br>
    <code>body { background-image: url("image-url"); }</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Add the background image with url <code>http://goo.gl/WQF2Na</code>.<br><br>

</p>

<% include base1.ejs %>
