<% include head1.ejs %>

<h5><strong>&nbsp;Border styling</strong></h5>
<p>


    <code>border-style</code> property can change the properties of the displayed border.
    <br><br>
    <code>dotted, dashed, solid, double, groove, ridge, ridge, inset, outset, none, hidden</code> keywords can describe border properties.
    <br><br>

    Example : <br>
    <code>p {border-style: groove double;}</code>
    <br><br>

    Also page a border with different properties can be created using several keywords.
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>dotted dashed solid double</code> border.<br><br>

</p>

<% include base1.ejs %>
