<% include head1.ejs %>

<h5><strong>&nbsp;Border styling</strong></h5>
<p>


    <code>border-width</code> property can change the width of the border.
    <br>
    Example : <br>
    <code>border-width: 3px;</code> <br>
    <code>border-width: 2px 10px 4px 20px;</code>
    <br><br>

    <code>border-color</code> property can change the color of the border.<br>
    Example : <br>
    <code>border-color: red;</code> <br>
    <code>border-color: red green yellow blue;</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the border width to <code>5px</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the border color to <code>blue</code>.
</p>

<% include base1.ejs %>
