<% include head1.ejs %>

<h5><strong>&nbsp;Border styling</strong></h5>
<p>


    <code>border</code> property can define all the attributes of the border.
    <br>
    Example : <br>
    <code>p {border: 3px solid red;}</code> <br>
    This will define the border width, style and color.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the border width to <code>5px</code>, border color to <code>green</code> and border style to <code>solid</code>.<br><br>

</p>

<% include base1.ejs %>
