<% include head1.ejs %>

<h5><strong>&nbsp;Margins</strong></h5>
<p>


    <code>margin</code> property controls the size of the white space outside of the border of an element.
    <br>
    There are 4 border properties.
    Example : <br>
    <code>p { margin-top: 30px; </code><br>
    <code>margin-bottom: 30px; </code><br>
    <code>margin-right: 50px; </code><br>
    <code>margin-left: 50px;}</code> <br>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the top margin to <code>60px</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the left margin to <code>45px</code>.
</p>

<% include base1.ejs %>
