<% include head1.ejs %>

<h5><strong>&nbsp;Dimension properties</strong></h5>
<p>


    The <code>height</code> and <code>width</code> properties are used to set the height and width of an element.
    <br>
    Example : <br>
    <code>p {width: 100px; </code><br>
    <code>   height: 100px; </code>
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the header width to <code>300px</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the header height to <code>200px</code>.
</p>

<% include base1.ejs %>
