<% include head1.ejs %>

<h5><strong>&nbsp;Working with headers</strong></h5>
<p>

    Various types of headings are defined with the <code>&lt;h1&gt; to &lt;h6&gt; </code>tags.
    <br><br>
    The header text goes inside the two tags.
    <code> &lt;h2&gt;....&lt;/h2&gt;</code>

    <br><br>
    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Define a header 2 with text <code>This is a Header 2</code>.
    <br><br>
    <a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Define a header 4 with text <code>This is a Header 4</code>.
</p>

<% include base1.ejs %>
