<% include head1.ejs %>

<h5><strong>&nbsp;Link styling</strong></h5>
<p>


    Links has states. They are <code>visited</code>, <code>active</code>  and <code>hover</code>. So we can change appearance of each state.
    <br>
    Example : <br>
    <code>a:active { color: blue; }</code><br>
    <code>a:visited {color: green; }</code>
    <br><br>

    <code>text-decoration</code> property is used to remove underlines from links.
    Example : <br>
    <code>a:link { text-decoration: none; }</code><br>
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the link color to <code>red</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Remove the link underline.<br><br>
</p>

<% include base1.ejs %>
