<% include head1.ejs %>

<h5><strong>&nbsp;Outline styling</strong></h5>
<p>


    The <code>outline-style</code> property specifies the style of the outline.
    <br>
    <code>dotted, dashed, solid, double, groove, ridge, ridge, inset, outset, none, hidden</code> keywords can describe outline properties.
    <br>
    Example : <br>
    <code>p { outline-style: solid; }</code><br>
    <br><br>

    The <code>outline-color</code> property specifies the color of the outline.
    Example : <br>
    <code>p { outline-color: blue; }</code><br>
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>solid</code> outline.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Change the outline color to <code>red</code>.<br><br>
</p>

<% include base1.ejs %>
