<% include head1.ejs %>

<h5><strong>&nbsp;Display properties</strong></h5>
<p>

    The <code>display</code> property specifies if or how an element is displayed.
    <br>
    <code>inline</code> attribute can get elements into a one line.
    Example : <br>
    <code>li { display: inline; }</code><br>
    <br><br>

    <code>none</code> attribute can hide elements.
    Example : <br>
    <code> h1{ display: none; }</code><br>
    <br><br>
<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Get the paragraphs in to a one line.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Hide the header 3.<br><br>
</p>

<% include base1.ejs %>
