<% include head1.ejs %>

<h5><strong>&nbsp;Position</strong></h5>
<p>

    The <code>position</code> property specifies the type of positioning method used for an element.
    There are four different position values.
    <br>
    <code>static</code> - Not positioned in any special way. <br>
    <code>relative</code> - Positioned relative to its normal position. <br>
    <code>fixed</code> - Positioned relative to the viewport. <br>
    <code>absolute</code> - Positioned relative to the nearest positioned ancestor.
    <br>
    Example : <br>
    <code>h2 { position: relative;</code><br>
    <code>     left: 30px; }</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Make the header <code>static</code>.<br><br>

</p>

<% include base1.ejs %>
