<% include head1.ejs %>

<h5><strong>&nbsp;Float</strong></h5>
<p>

    The <code>float</code> property specifies whether or not an element should float.
    <br><br>
    Example : <br>
    <code>p { float: left; }</code><br>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Float the header to <code>right</code>.<br><br>

</p>

<% include base1.ejs %>
