<% include head1.ejs %>

<h5><strong>&nbsp;Class selectors</strong></h5>
<p>

    CSS selectors are patterns used to select the element(s) you want to style.
    <br><br>
    The class indicates with a period <code> . </code>
    Example : <br>
    <code>.class { background-color: green; }</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>
Using class selector, <br>
<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change header background color to <code>blue</code>.<br><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Change header text color to <code>white</code>.<br><br>

</p>

<% include base1.ejs %>