<% include head1.ejs %>

<h5><strong>&nbsp;Element element  selectors</strong></h5>
<p>

    Element element selectors can be used to change elements inside a particular element.
    <br><br>

    Example : <br>
    <code>div h1 {background-color: yellow; }</code><br>
    In this example all the header 1's in the div will be changed.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set color of paragraphs inside the div tag to <code>blue</code>.

</p>

<% include base1.ejs %>
