<% include head1.ejs %>

<h5><strong>&nbsp;ID selectors</strong></h5>
<p>

    #id selectors can be used to change a element with a specific id.
    <br><br>

    Example : <br>
    <code>#first {background-color: yellow; }</code><br>
    In this example all the elements with id 'first' will be changed.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>
Using #id selectors, <br>
<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the color of paragraph 1 to <code>blue</code>.<br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the background color of paragraph 4 to <code>green</code>.

</p>

<% include base1.ejs %>
