<% include head1.ejs %>

<h5><strong>&nbsp;Element, element selectors</strong></h5>
<p>

    This selectors can be used to change multiple element types in the same way.
    <br><br>

    Example : <br>
    <code>h2, div {background-color: yellow; }</code><br>
    In this example all the h2 and div elements are changed.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>
Using #id selectors, <br>
<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change the color of paragraphs and header 3's to <code>blue</code>.<br>

</p>

<% include base1.ejs %>
