<% include head1.ejs %>

<h5><strong>&nbsp;Cursors</strong></h5>
<p>

    Cursor property can define different cursors for different elements.
    <br><br>
    <code>auto, crosshair, default, e-resize, move, pointer, progress, text, no-drop, not-allowed, se-resize, sw-resize</code> keywords can defines different cursors.
    <br><br>
    Example : <br>
    <code>h1 { cursor: wait; }</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set h2 cursor to <code>not-allowed</code>.<br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set paragraph cursor to <code>help</code>.<br>

</p>

<% include base1.ejs %>
