<% include head1.ejs %>

<h5><strong>&nbsp;Working with paragraphs</strong></h5>
<p >

    You can add a paragraph by using <code>&lt;p&gt; </code>tag.
    <br><br>
    Close the paragraph tag by <code>&lt;/p&gt;</code> closing tag.
    <br><br>
    The paragraph text goes inside the two tags.
    <code> &lt;p&gt;....&lt;/p&gt;</code>

    <br><br>
    <h5><strong>&nbsp;Task</strong></h5>

    <a id="menu-toggle"><i class="glyphicon glyphicon-remove"></i></a> Set the paragraph text to <code>This is a paragraph.</code>.
</p>

<% include base1.ejs %>
