<% include head1.ejs %>

<h5><strong>&nbsp;Z-index</strong></h5>
<p>

    The <code>z-index</code> property specifies the stack order of an element.
    <br><br>
    Example : <br>
    <code>img { z-index: -1; }</code><br>
    This image will appear behind the other elements.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Place the image <code>behind</code> the text.<br>

</p>

<% include base1.ejs %>
