<% include head1.ejs %>

<h5><strong>&nbsp;Introduction to ordered list</strong></h5>
<p >
    Ordered list is a numbered list.<br>
    <code>&lt;ol&gt; </code>tags are used to create ordered lists.
    <br><br>
    You can end the list with <code>&lt;/ol&gt;</code> closing tag.
    <br><br>
    Inside the list, we need to indicate list items. <code>&lt;li&gt;</code> is the list item tag.
    Example of list items.<br>
    <code> &lt;li&gt;Sun&lt;/li&gt;</code><br>
    <code> &lt;li&gt;Moon&lt;/li&gt;</code>

    <br><br>
    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create 3 list items.<br><br>
    <a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Name those list items as Sun, Moon and Stars.
</p>

<% include base1.ejs %>
