<% include head1.ejs %>

<h5><strong>&nbsp;Adding images</strong></h5>
<p>

    We can add a image using <code>&lt;img&gt;</code>tags.
    <br><br>
    The image source need to be specified within the img tag.<br>
    <code>&lt;img src="image_source"&gt;</code>
    <br><br>
    Also we can center the elements using <code>&lt;center&gt; img &lt;/center&gt;</code>tags.
    <br><br>
    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Add a image with the source of <code>"https://goo.gl/MxKaRD"</code>.
    <br><br>
    <a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Center the image.
</p>

<% include base1.ejs %>
