<% include head1.ejs %>

<h5><strong>&nbsp;Creating a table</strong></h5>
<p>

    A table can be created using  <code>&lt;table&gt;</code>tags.<br><br>
    Inside the table tags, rows need to be defined using <code>&lt;tr&gt;..&lt;/tr&gt;</code>tags.
    <br><br>
    Inside a row, we can define columns.
    <br>
    <code> &lt;td&gt;Tom&lt;/td&gt;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;25&lt;/td&gt;</code><br>
    <code> &lt;td&gt;Sally&lt;/td&gt;&nbsp;&nbsp;&lt;td&gt;30&lt;/td&gt;</code><br>
    <br><br>

    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create 2 rows. <br><br>
    <a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Create 2 columns in each row. <br><br>
    <a id="t3"><i class="glyphicon glyphicon-remove"></i></a> Fill the table with example data given.<br>
</p>
<% include base1.ejs %>
