<% include head1.ejs %>

<h5><strong>&nbsp;Introduction to CSS</strong></h5>
<p>
    CSS is a style sheet language used for describing the presentation of a document written in a markup language.
    <br><br>
    We can start the CSS tutorial by changing the color of a header.<br><br>
    Change header1 color using element name,<br>
    <code>h1 {color : red;}</code>
    <br><br>

    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change Header 1 color to blue.
</p>

<% include base1.ejs %>
