<% include head1.ejs %>

<h5><strong>&nbsp;Changing fonts</strong></h5>
<p>

    We can change size of a element using font-size attribute,<br>
    <code>p {font-size : 17px;}</code>
    <br><br>
    If you only want to change the first paragraph,you can use <code>p:first</code> instead of <code>p</code>
    <br><br>
    Also we can change font type of a element using font-family attribute,<br>
    <code>p {font-family : sans-serif;}</code>
    <br><br>

    <h5><strong>&nbsp;Task</strong></h5>

    <a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Change paragraph font size to <code>25px</code>.<br><br>
    <a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Change paragraph font type to <code>arial</code>.
</p>

<% include base1.ejs %>
