<% include head2.ejs %>

<h5><strong>&nbsp;Introduction to JavaScript</strong></h5>
<p>

    JavaScript is the programming language of HTML and the Web.<br><br>
    JavaScript Can Change HTML Attributes and HTML Styles (CSS). Also JavaScript Can Validate Data. <br>

    To print something in our browser, we can use <code>write</code> method. <br><br>
    Example : <br>
    <code>document.write ("Hi,how are you ?");</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print <code>Hello World !</code> on the page.<br>

</p>

<% include base2.ejs %>
