<% include head2.ejs %>

<h5><strong>&nbsp;JavaScript Variables</strong></h5>
<p>

    Javascript variable defined by <code>var</code> keyword.
    <br><br>
    The variable can be eaqual to any type, such as integer, string, float or boolean.
    <br><br>
    Example : <br>
    <code>var x = 5;</code>
    <code>var str = "Hello";</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the variable x to <code>Sam</code><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the variable y to <code>25</code><br>
</p>

<% include base2.ejs %>
