<% include head2.ejs %>

<h5><strong>&nbsp;JavaScript Functions</strong></h5>
<p>

    A JavaScript function is a <code>block of code</code> designed to perform a particular task.
    <br><br>
    A JavaScript function is executed when "something" invokes it (calls it).
    <br><br>
    Example : <br>
    <code>function Sum(x, y) {</code><br>
    <code>return x + y;</code><br>
    <code>}</code>
    <br><br>
    This function returns the sum of x and y<br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Write the <code>Sub</code> function to return the subtaction of <code>2</code> numbers.<br>

</p>

<% include base2.ejs %>
