<% include head2.ejs %>

<h5><strong>&nbsp;JavaScript OnClick event</strong></h5>
<p>

    The onclick event occurs when the user clicks on an element.
    <br><br>
    Assigned JavaScript function is executed when the element is clicked.
    <br><br>
    Example : <br>
    <code>&lt; input type="button" value="Button" onclick="Function()"&gt;</code>
    <br><br>
    The Function() is executed when the button is clicked.<br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print <code>Hello</code> on the page on button click.<br>

</p>

<% include base2.ejs %>
