<% include head2.ejs %>

<h5><strong>&nbsp;Local  and Global Variables</strong></h5>
<p>

    Variables declared within a JavaScript function, is a <code>local</code> variable to the function.<br>
    Variables declared outside a JavaScript function, is a <code>global</code> variable to the function.

    <br><br>
    Example : <br>
    <code>var global = 10;</code><br><br>
    <code>function demo(){</code><br>
    <code>&nbsp;&nbsp;var local = 30;</code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set the local variable to <code>20</code><br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Set the global variable to <code>41</code><br>

</p>

<% include base2.ejs %>
