<% include head2.ejs %>

<h5><strong>&nbsp;Math Operators</strong></h5>
<p>

    Math operations can be done using regular math expressions.
    <br><br>
    Example : <br>
    <code>var x = 10;</code><br>
    <code>var y = 2;</code><br><br>
    <code>var add = x + y;</code><br>
    <code>var sub = x - y;</code><br>
    <code>var mod = x % y;</code><br>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Multiply x and y<br>

</p>

<% include base2.ejs %>
