<% include head2.ejs %>

<h5><strong>&nbsp;If Statement</strong></h5>
<p>

    The if statement specifies a block of code to be executed if a condition is true.
    <br><br>
    If the if condition fails the <code>else</code> statement will be executed.
    <br><br>
    Example : <br>
    <code>if (condition){</code><br>
    <code>&nbsp;&nbsp;// code 1</code><br>
    <code>}</code>
    <br><br>
    <code>else{</code><br>
    <code>&nbsp;&nbsp;// code 2</code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set value of x to <code>100</code> if y is equal to <code>10</code>. Else set the x value to <code>50</code>.<br>

</p>

<% include base2.ejs %>