<% include head2.ejs %>

<h5><strong>&nbsp;Nested if Statements</strong></h5>
<p>

    The nested if statements can be used to check multiple conditions.
    <br><br>

    Example : <br>
    <code>if (condition-1){</code><br>
    <code>&nbsp;&nbsp;if (condition-2){</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;// code </code><br>
    <code>&nbsp;&nbsp;}</code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set value of x to <code>100</code> if y is greater than <code>20</code> and z is equal to <code>30</code>.<br>

</p>

<% include base2.ejs %>
