<% include head2.ejs %>

<h5><strong>&nbsp;Complex conditions</strong></h5>
<p>

    The complex conditions can be used to check multiple conditions using only one if statement.
    <br><br>

    Example : <br>
    <code>if (condition-1 && condition-2){</code><br>
    <code>&nbsp;&nbsp; //condition-1 and condition-2 are true</code><br>
    <code>}</code><br><br>
    <code>if (condition-1 || condition-2){</code><br>
    <code>&nbsp;&nbsp; //condition-1 or condition-2 is true</code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>
<br>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set value of x to <code>100</code> if y is greater than <code>20</code> <code>AND</code> z is equal to <code>30</code>.<br>

</p>

<% include base2.ejs %>
