<% include head2.ejs %>

<h5><strong>&nbsp;Switch Statement</strong></h5>
<p>

    The switch statement evaluates an expression, matching the expression's value to a case clause, and executes statements associated with that case.
    <br><br>

    Example : <br>
    <code>switch(variable){</code><br>
    <code>&nbsp;&nbsp; case "one":</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp; // execute in case one</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp; break;</code><br>
    <code>&nbsp;&nbsp; case "two":</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp; // execute in case two</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp; break;</code><br>
    <code>&nbsp;&nbsp; default:</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp; // execute in default case</code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Set value of x to <code>100</code> if y is equal to <code>20</code>.<br>

</p>

<% include base2.ejs %>
