<% include head2.ejs %>

<h5><strong>&nbsp;For Loop</strong></h5>
<p>

    The <code>for loop</code> is used to execute same block of code several times.
    <br><br>

    Example : <br>
    <code>for (i = 0; i < length; i++) { </code><br>
    <code>&nbsp;&nbsp;// code  </code><br>
    <code>}</code>
    <br><br>
    <code>for (i = 0; i < 5; i++) { </code><br>
    <code>&nbsp;&nbsp;document.write(i);  </code><br>
    <code>}</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Write a for loop to print <code>0 to 9</code>.<br>

</p>

<% include base2.ejs %>
