<% include head2.ejs %>

<h5><strong>&nbsp;While Loop</strong></h5>
<p>

    The <code>while loop</code> is used to execute same block of code several times.
    <br><br>

    Example : <br>
    <code>var x = 0;</code><br><br>
    <code>while (x < 5) { </code><br>
    <code>&nbsp;&nbsp;// code  </code><br>
    <code>&nbsp;&nbsp;x++;  </code><br>
    <code>}</code>
    <br><br>
    This while loop run total of 5 times. In each time x will increase by 1. When x is equal to 5, loop will break.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Write a while loop to print <code>0 to 9</code>.<br>

</p>

<% include base2.ejs %>
