<% include head2.ejs %>

<h5><strong>&nbsp;onMouseOver Event Handler</strong></h5>
<p>

    The onMouseOver event occurs when the user hover over an element.
    <br><br>
    Assigned JavaScript function is executed when mouse hovers over the element.
    <br><br>
    Example : <br>
    <code>&lt;a href="#" onMouseOver=""Function()"&gt;This is a link&lt;/a&gt;</code>
    <br><br>
    The Function() is executed when the mouse hovers over the link.<br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print <code>Hello</code> on the page on hover over the link.<br>

</p>

<% include base2.ejs %>
