<% include head2.ejs %>

<h5><strong>&nbsp;JavaScript Objects</strong></h5>
<p>

    An object is a collection of properties, and a property is an association between a name (or key) and a value. <br><br>
    A property's value can be a function, in which case the property is known as a method.
    <br><br>
    Example : <br>
    <code>var str = "Hello World!"</code><br>
    <code>str.length</code>
    <br><br>
    The variable str is a object with it's own properties such as length.<br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print the <code>length</code> of the object.<br>

</p>

<% include base2.ejs %>
