<% include head2.ejs %>

<h5><strong>&nbsp;JavaScript Arrays</strong></h5>
<p>

    JavaScript arrays are used to store multiple values in a single variable.
    <br><br>
    Example : <br>
    <code>var names = new Array("Tina", "Sam", "Ben");</code>
    <br><br>
    The name array is initialized using Array keyword. Inside that Array we can store the names.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Create a <code>numbers</code> array and store values <code>0 to 5</code>.<br>

</p>

<% include base2.ejs %>