<% include head2.ejs %>

<h5><strong>&nbsp;Working with Arrays</strong></h5>
<p>

    JavaScript arrays are used to store multiple values in a single variable. The values inside a array can be access and manipulated accordingly.
    <br><br>
    Example : <br>
    <code>var names = new Array("Tina", "Sam", "Ben");</code>
    <br>
    <code>names[0]</code>
    <br><br>
    This will give the 1st value of the names array.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print the <code>3rd element</code> of the array.<br>

</p>

<% include base2.ejs %>