<% include head2.ejs %>

<h5><strong>&nbsp;Working with Arrays</strong></h5>
<p>

    There are many ways to create arrays.
    <br><br>
    Example : <br>
    <code>var names = new Array(3);</code><br>
    This will initialize a 3 element array. <br><br>
    Now the values can be assigned. <br>
    <code>names[0] = "Tina";</code><br>
    <code>names[1] = "Sam";</code><br>
    <code>names[2] = "Ben";</code>
    <br><br>
    Also we can create arrays without initializing a specific size for the array. Then any number of elements can be added.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>


<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Assign values <code>1, 4, 7, 9</code> to the array.<br>

</p>

<% include base2.ejs %>