<% include head2.ejs %>

<h5><strong>&nbsp;Array Properties and Methods</strong></h5>
<p>

    Arrays have different properties like length. Also arrays can be manipulated using methods.
    <br><br>
    Example : <br>
    <code>var boys = new Array("Roy", "Sam", "Ben");</code><br><br>
    <code>var girls = new Array("Jane", "Tina", "Alice");</code>
    <br><br>
    <code>boys.length</code><br>
    Give the length of the boys array.
    <br><br>
    <code>boys.concat(girls)</code><br>
    Concatenate 2 arrays. <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Assign the <code>concatenated</code>array of arrays one and two to array three.<br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Print the <code>length</code>of array three.<br>

</p>

<% include base2.ejs %>