<% include head2.ejs %>

<h5><strong>&nbsp;Array Join Method </strong></h5>
<p>

    The <code>join</code> method can join all the elements of the array together.
    <br><br>
    Example : <br>
    <code>var boys = new Array("Roy", "Sam", "Ben");</code>
    <br><br>
    <code>boys.join()</code><br>
    Joint with comma.
    <br><br>
    <code>boys.join("-")</code><br>
    Join with "-" <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Join the array with <code>.</code> and print the string.

</p>

<% include base2.ejs %>