<% include head2.ejs %>

<h5><strong>&nbsp;Array Pop Method </strong></h5>
<p>

    The <code>pop</code> method can remove the last element from the array.
    <br><br>
    Example : <br>
    <code>var teens = new Array("Roy", "Sam", "Ben", "Alice", "Jane");</code>
    <br><br>
    <code>teens.pop()</code><br>
    This removes "Jane" from the teens array.
    <br><br>
    Now the array is, <br>
    <code>"Roy", "Sam", "Ben", "Alice"</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Remove the last element of the array.

</p>

<% include base2.ejs %>