<% include head2.ejs %>

<h5><strong>&nbsp;Array Push Method </strong></h5>
<p>

    The <code>push</code> method can add elements at the end of the array.
    <br><br>
    Example : <br>
    <code>var teens = new Array("Roy", "Sam", "Ben", "Alice");</code>
    <br><br>
    <code>teens.push("Jane")</code><br>
    This add "Jane" to the teens array.
    <br><br>
    Now the array is, <br>
    <code>"Roy", "Sam", "Ben", "Alice", "Jane"</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Add <code>33 and 76</code> to the array.

</p>

<% include base2.ejs %>