<% include head2.ejs %>

<h5><strong>&nbsp;Array Reverse Method </strong></h5>
<p>

    The <code>reverse</code> method can reverse the order of the elements.
    <br><br>
    Example : <br>
    <code>var teens = new Array("Roy", "Sam", "Ben", "Alice","Jane");</code>
    <br><br>
    <code>teens.reverse()</code><br>
    This will reverse the array.
    <br><br>
    Now the array is, <br>
    <code>"Jane", "Alice", "Ben", "Sam", "Roy"</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> <code>Reverse</code> the array.

</p>

<% include base2.ejs %>