<% include head2.ejs %>

<h5><strong>&nbsp;Array Sort Method </strong></h5>
<p>

    The <code>sort</code> method can sort the array alphabetically or numerically.
    <br><br>
    Example : <br>
    <code>var teens = new Array("Roy", "Sam", "Ben", "Alice","Jane");</code>
    <br><br>
    <code>teens.sort()</code><br>
    This will sort the array in alphabetical order.
    <br><br>
    Now the array is, <br>
    <code>"Alice","Ben","Jane","Roy","Sam"</code>
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> <code>Sort</code> the array.

</p>

<% include base2.ejs %>