<% include head2.ejs %>

<h5><strong>&nbsp;Prompt Method</strong></h5>
<p>

    The <code>prompt()</code> method displays a dialog box that prompts the visitor for input.
    <br><br>
    The prompt() method returns the input value if the user clicks "OK".
    <br><br>
    Example : <br>
    <code>var msg = prompt("Enter something", "");</code>
    <br><br>


<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> <code>Get</code> the name of the user and assign it to <code>name</code> variable.

</p>

<% include base2.ejs %>