<% include head2.ejs %>

<h5><strong>&nbsp;Date Method</strong></h5>
<p>

    Date method can get the date values such as years, months, days, hours, minutes, seconds, milliseconds.
    <br><br>
    Example : <br>
    <code>new Date();</code>
    <br><br>
    This will return something like,
    <br>
    <code>Sat Jun 11 2016 23:05:54 GMT+0530 (Sri Lanka Standard Time)</code>
    <br><br>
    <code>new Date().getHours();</code>
    <br>
    Returns the hour
    <br><br>
    <code>new Date().getMonth();</code>
    <br>
    Returns the month
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find and print the <code>day</code>.
</p>

<% include base2.ejs %>

