<% include head2.ejs %>

<h5><strong>&nbsp;Accessing Forms</strong></h5>
<p>

    The form elements can be accessed using JavaScript.
    <br><br>
    Example : <br>
    <code>var length = document.forms[0].length</code>
    <br>
    Returns the length of the 1st form on the page.
    <br><br>

    <code>var name = document.forms[0].elements[1].name</code>
    <br>
    Returns the name of the 2nd form element.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Find length of the form and assign to variable <code>length</code>.<br>
<a id="t2"><i class="glyphicon glyphicon-remove"></i></a> Find the name of the 1st form element and assign to variable <code>name</code>.
</p>

<% include base2.ejs %>