<% include head2.ejs %>

<h5><strong>&nbsp;Forms Validation</strong></h5>
<p>

    The form inputs can be validated using JavaScript.
    <br><br>
    Example : <br>
    <code>function validator(){</code><br>
    <code>&nbsp;&nbsp;if(document.forms[0].checkbox.checked){</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;alert("Checkbox is checked")</code><br>
    <code>&nbsp;&nbsp;}</code><br>
    <code>}</code>
    <br>
    This validator function will show a alert box if the checkbox is checked.
    <br><br>

<h5><strong>&nbsp;Task</strong></h5>

<a id="t1"><i class="glyphicon glyphicon-remove"></i></a> Print the success message if username is equal to <code>hello</code>.<br>

</p>

<% include base2.ejs %>